* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: black;
    margin:20px;
}
h1 {
    font-size:25px;
}
canvas {
	position:fixed;
	top:0;
	left:0;
    z-index:-1;
}
